.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
}

.header {
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(/images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.header__title,
.header__description,
.header__footer {
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  width: 105px;
  height: 39px;
  left: -50px;
}

.nav__links {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 20px;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__title {
  margin: 183px 0 0 0;
  max-width: 729px;
  font-size: 60px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header_span-accent {
  display: block;
  color: #2f80ed;
  font-family: "Noto Serif", Times, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
}

.header__description {
  margin: 28px 0 0 0;
  max-width: 683px;
  font-family: "Noto Serif", Times, serif;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  right: 5px;
  top: 124px;
  z-index: 0;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  color: #838383;
}

.header__paragraphs {
  margin: 0;
  align-self: end;
}

.recipes {
  background-image: url(/images/background_recipes.svg);
  background-color: #0a2750;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 80px 215px;
  color: #ffffff;
}

.recipes__title {
  margin: 0;
  max-width: 580px;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 24px 0 0 0;
}

.recipes__videos {
  margin: 80px 0 0 0;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  margin: 24px 0 0 0;
  display: flex;
  justify-content: space-between;
}
